*{
    margin: 0;
    padding: 0;
}

/* heading */

h1{
    background-color: #03045e;
    color: white;
    text-align: center;
    height: 4rem;
    line-height: 4rem;
}

/* column */

.column{
    display: flex;
    flex-direction: row;
    background-color: darkcyan;
}
.fixed-column{
    border-right: 0.3rem solid #03045e;
}
.fluid-column{
    flex:1;
}

/* fixed-column part (symbols) */

.symbols{
    height: 80vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.symbol{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 125px;
    width: 125px;
    object-fit: fit;
    border-radius: 50%;
}
.symbol:hover{
    cursor: pointer;
    background-color: black;
}

/* fluid-column part (result) */
    /* options display part */
.opt{
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.userOpt, .compOpt{
    height: 30vh;
    width: 15vw;
    background-color: white;
    border-radius: 15%;
    border:2px solid rgba(0,0,0,0.5);
    filter: drop-shadow(0 0 3px black);
}
.opt p{
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 3px 3px 3px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
    /* result part */
.scores{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.userScore, .compScore, .draw{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.track{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.track p{
    font-size: 1.5rem;
    font-weight: bold;
}
.btn{
    width: 9rem;
    height: 3rem;
    background-color: gold;
    border: 2px solid firebrick;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: black;
}
.btn:hover {
    cursor: grab;
    background-color: bisque;
}

/* final text display */
#textContent{
    height: 10vh;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.3rem solid #03045e;
}
.text{
    background-color: #03045e;
    font-size: 1.5rem;
    color: white;
    padding: 10px;
    border: 2px solid rgb(0,0,0);
    border-radius: 10px;
}

/* user choice image */
.user_hide, .comp_hide{
    display: none;
}
.user_rk, .comp_rk{
    height: 30vh;
    width: 15vw;
    border-radius: 15%;
    background-image: url('images/rock.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.user_pr, .comp_pr{
    height: 30vh;
    width: 15vw;
    border-radius: 15%;
    background-image: url('images/paper.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.user_sr, .comp_sr{
    height: 30vh;
    width: 15vw;
    border-radius: 15%;
    background-image: url('images/scissor.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}